In [1]:
#importing pandas and numpy libraries
import pandas as pd
import numpy as np

In [2]:
#downloading the data
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
#describing the data
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
#determining the predictors part
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
#determining the target part
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
#determining the predictores_norm part
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [11]:
#importing keras
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [12]:
#importing sequential and dense layers
from keras.models import Sequential
from keras.layers import Dense

In [13]:
#defining regression model
def regression_model():
    #create model
    model = Sequential()
    model.add(Dense(10,activation = 'relu',input_shape =(n_cols,)))
    model.add(Dense(1))
     # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
# import scikit-learn in order to randomly split the data into a training and test sets
from sklearn.model_selection import train_test_split

In [15]:
#Splitting the data into a training and test sets by holding 30% of the data for testing
X_train,X_test,y_test,y_train = train_test_split(predictors,target,test_size=0.3,random_state = 42)

In [16]:
#building the model
model = regression_model()

In [22]:
# train the model for 50 epochs.
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 397us/step - loss: 118.4427
Epoch 2/50
721/721 [==============================] - 0s 282us/step - loss: 126.0341
Epoch 3/50
721/721 [==============================] - 0s 328us/step - loss: 127.1660
Epoch 4/50
721/721 [==============================] - 0s 333us/step - loss: 121.1189
Epoch 5/50
721/721 [==============================] - 0s 332us/step - loss: 116.0016
Epoch 6/50
721/721 [==============================] - 0s 359us/step - loss: 111.0282
Epoch 7/50
721/721 [==============================] - 0s 360us/step - loss: 110.1034
Epoch 8/50
721/721 [==============================] - 0s 332us/step - loss: 118.3324
Epoch 9/50
721/721 [==============================] - 0s 306us/step - loss: 109.0894
Epoch 10/50
721/721 [==============================] - 0s 278us/step - loss: 114.7045
Epoch 11/50
721/721 [==============================] - 0s 306us/step - loss: 110.8162
Epoch 12/50
721/721 [==============================] - 0s 442us/step - loss: 128.2888
Epoch 13/50
721/721 [==============================] - 0s 334us/step - loss: 111.1099
Epoch 14/50
721/721 [==============================] - 0s 329us/step - loss: 111.7717
Epoch 15/50
721/721 [==============================] - 0s 309us/step - loss: 122.6169
Epoch 16/50
721/721 [==============================] - 0s 336us/step - loss: 114.2995
Epoch 17/50
721/721 [==============================] - 0s 302us/step - loss: 110.9196
Epoch 18/50
721/721 [==============================] - 0s 326us/step - loss: 115.9912
Epoch 19/50
721/721 [==============================] - 0s 304us/step - loss: 129.7337
Epoch 20/50
721/721 [==============================] - 0s 332us/step - loss: 112.9340
Epoch 21/50
721/721 [==============================] - 0s 334us/step - loss: 111.3694
Epoch 22/50
721/721 [==============================] - 0s 329us/step - loss: 112.9056
Epoch 23/50
721/721 [==============================] - 0s 332us/step - loss: 119.0988
Epoch 24/50
721/721 [==============================] - 0s 328us/step - loss: 117.9265
Epoch 25/50
721/721 [==============================] - 0s 334us/step - loss: 122.2948
Epoch 26/50
721/721 [==============================] - 0s 308us/step - loss: 113.0223
Epoch 27/50
721/721 [==============================] - 0s 301us/step - loss: 113.4781
Epoch 28/50
721/721 [==============================] - 0s 334us/step - loss: 114.9579
Epoch 29/50
721/721 [==============================] - 0s 328us/step - loss: 125.6687
Epoch 30/50
721/721 [==============================] - 0s 331us/step - loss: 136.0962
Epoch 31/50
721/721 [==============================] - 0s 363us/step - loss: 123.4062
Epoch 32/50
721/721 [==============================] - 0s 412us/step - loss: 116.7870
Epoch 33/50
721/721 [==============================] - 0s 308us/step - loss: 112.2488
Epoch 34/50
721/721 [==============================] - 0s 307us/step - loss: 122.9339
Epoch 35/50
721/721 [==============================] - 0s 304us/step - loss: 109.5256
Epoch 36/50
721/721 [==============================] - 0s 305us/step - loss: 113.3951
Epoch 37/50
721/721 [==============================] - 0s 307us/step - loss: 115.6133
Epoch 38/50
721/721 [==============================] - 0s 334us/step - loss: 111.1052
Epoch 39/50
721/721 [==============================] - 0s 306us/step - loss: 114.9103
Epoch 40/50
721/721 [==============================] - 0s 328us/step - loss: 114.3311
Epoch 41/50
721/721 [==============================] - 0s 276us/step - loss: 117.1749
Epoch 42/50
721/721 [==============================] - 0s 306us/step - loss: 122.8861
Epoch 43/50
721/721 [==============================] - 0s 301us/step - loss: 112.6205
Epoch 44/50
721/721 [==============================] - 0s 364us/step - loss: 115.1274
Epoch 45/50
721/721 [==============================] - 0s 362us/step - loss: 115.3789
Epoch 46/50
721/721 [==============================] - 0s 304us/step - loss: 119.4560
Epoch 47/50
721/721 [==============================] - 0s 305us/step - loss: 132.9153
Epoch 48/50
721/721 [==============================] - 0s 278us/step - loss: 109.6368
Epoch 49/50
721/721 [==============================] - 0s 304us/step - loss: 121.2081
Epoch 50/50
721/721 [==============================] - 0s 284us/step - loss: 117.1862

In [23]:
#evaluate the model on the test data.
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 93us/step

110.84206484205129

In [24]:
# import the mean_squared_error function from Scikit-learn.
from sklearn.metrics import mean_squared_error

In [25]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

110.84206667362773 0.0

In [26]:
#Creating a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 106.38453138530447
MSE 2: 156.90295432377786
MSE 3: 109.02494523131732
MSE 4: 122.2083802207774
MSE 5: 122.17442847687064
MSE 6: 122.82355353593054
MSE 7: 154.6799904536275
MSE 8: 99.12307438032526
MSE 9: 120.41951304809176
MSE 10: 116.02054361386593
MSE 11: 105.10100545543683
MSE 12: 104.47606034263438
MSE 13: 114.94336411559466
MSE 14: 116.02918329825293
MSE 15: 109.6295579336222
MSE 16: 105.66392438079933
MSE 17: 135.04906461153988
MSE 18: 96.33214724642559
MSE 19: 95.28956354628875
MSE 20: 114.86065421984034
MSE 21: 101.0910829710729
MSE 22: 103.55244426048303
MSE 23: 109.94750991376858
MSE 24: 145.45680244223584
MSE 25: 116.57608800104136
MSE 26: 100.05831484501415
MSE 27: 121.75525761576532
MSE 28: 112.9905628340144
MSE 29: 110.09988055182892
MSE 30: 114.67762356359982
MSE 31: 137.53377792210256
MSE 32: 110.72006681127456
MSE 33: 121.14113891008988
MSE 34: 108.35137085158462
MSE 35: 127.66981955716525
MSE 36: 126.80137392309491
MSE 37: 141.16103782777262
MSE 38: 115.77399207550346
MSE 39: 107.39156694628274
MSE 40: 153.83141077529265
MSE 41: 119.7963463372783
MSE 42: 118.42553849204845
MSE 43: 125.72587980498774
MSE 44: 107.70659580662799
MSE 45: 151.75241795018266
MSE 46: 114.87866754130638
MSE 47: 113.34378306070964
MSE 48: 152.96087764999243
MSE 49: 104.24274291498375
MSE 50: 123.6301753466955


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 118.92361082903362
Standard Deviation: 15.815125455453384